#Client files
client/logs
client/env
client/instance
client/catchall/*.pyc
client/catchall/__pycache__
client/catchall/flaskapp.db

#Server files
server/env
server/catchall/__pycache__
server/catchall/face_cache/
server/catchall/face_database/
