**/*.logs
**/*.db
**/*.pyc

client/instance
client/.webassets-cache
client/env
client/catchall/__pycache__

server/env
server/catchall/__pycache__
server/catchall/face_cache/*.fe
server/catchall/face_database
